- form_for(@message) do |f|
  = f.error_messages
  - unless session[:target_message_id].nil?
    %p
      = f.label t('global.follow')
      %br
      = Message.find_by_id(session[:target_message_id]).title

  %p
    = f.label t('global.title')
    %br
    = f.text_field :title

  %p
    = f.label t('global.content')
    %br
    = #f.text_area :body
    = textile_editor 'message', 'body'
    = textile_editor_initialize

  %p
    = f.submit t('global.create')

= link_to t('global.back'), :back
