- if session[:view_style] == 'single' #or @message.follow_messages.count == 0
  %p
    %b
      = t 'global.title'
    = h @message.title

  %p
    %b
      = t 'global.content'
    = h @message.body

  %p
    %b Follow:
    = h Message.find_by_id(@message.follow_id).title unless @message.follow_id.nil?

  = link_to 'Back', :back
  = link_to 'Edit', edit_message_path(@message)

- else
  #topic_path
    = full_topic_path(@message.topic)

  = link_to t('global.post'), :action => "reply", :id => @message
  #topic
    .user
      = user_info @message.user
    .dialog
      %div{:id => "message-#{@message.id}", :class=>'message'}
        = @message.title
      .talk
        %br
      .body
        = textilize(@message.body)
      .position
        = h distance_before_now(@message.created_at)
      .toolbox
        = link_to t('topic.quote'), :action => 'quote', :id => @message
        = link_to_function t('topic.reply'), "fastreply('reply #{@message.user.login} post')"
        = link_to t('global.edit'), edit_message_path(@message) if @message.user == current_user
  - pos = 1
  - for m in @replies
    - if m.user == @message.user
      #topic
        .user
          = link_to m.user.login, m.user
        .dialog
          %div{:id => "message-#{m.id}", :class=>'message'}
            = "##{pos}"
            - pos += 1
            = link_to m.user.login, m.user
            = h m.title
          .talk
            %br
          .body
            = textilize(m.body) unless m.body.nil?
          .position
            = h distance_before_now(m.created_at)
          .toolbox
            = link_to t('topic.quote'), :action => 'quote', :id => m
            = link_to_function t('topic.reply'), "fastreply('Reply floor #{pos} #{@message.user.login} post')"
            = link_to t('global.edit'), edit_message_path(m) if current_user == m.user
    - else
      #topic_reply
        .user
          = link_to m.user.login, m.user
        .dialog
          %div{:id => "message-#{m.id}", :class=>'message'}
            = "##{pos}"
            - pos += 1
            = link_to m.user.login, m.user
            = h m.title
          .talk
            %br
          .body
            = textilize(m.body) unless m.body.nil?
          .position
            = h distance_before_now(m.created_at)
          .toolbox
            = link_to t('topic.quote'), :action => 'quote', :id => m
            = link_to_function t('topic.reply'), "fastreply('Reply floor #{pos} #{@message.user.login} post')"
            = link_to t('global.edit'), edit_message_path(m) if current_user == m.user

  = link_to t('global.post'), :action => "reply", :id => @message

  = will_paginate @replies

%hr

.span-24
  #post_box
    - form_for :message, @reply, :url => {:action => 'create'} do |f|
      = f.hidden_field :follow_id, :value => @message.id
      %p
        = f.label t('global.title')
        = f.text_field :title
      %p
        = f.label t('global.content')
        %br
        = f.text_area :body
      %p
        = submit_tag t('global.post')

