#topic_page
  .span-20 
    %h2 List topics
  .span-4.last
    = link_to 'New topic', new_topic_path


  .span-5.colborder
    - if @topics.count == 0
      %p Not topic created
    %ul
      - for topic in @topics
        %li
          = link_to topic.name, topic
          = subtopic_path(topic)
  .span-18.last
    %h3 New updates
    - for message in @topic_news
      .box
        = link_to message.user.login, message.user
        = " says: " 
        - if message.follow_id.nil?
          = link_to message.title, message
        - else
          - link = url_for :controller => 'messages', :action => 'show', :id => message.follow_message, :anchor=>"message-#{message.id}"
          = link_to message.title, message.follow_message, {:href => link}
        %br
        = link_to message.topic.name
        = h message.created_at

