#topic_page
  .span-20 
    %h2 List topics
  .span-4.last
    = link_to 'New topic', new_topic_path

  .span-5.colborder
    %ul
      - for topic in @topics
        %li
          = link_to topic.name, topic
        - sub_topics = Topic.find :all, :conditions => "parent_id = #{topic.id}"
        - for sub_topic in sub_topics
          %li
            = link_to sub_topic.name, topic
  .span-18.last
    %h3 New updates
    - for message in @topic_news
      .box
        = link_to message.user.login, message.user
        = " says: " 
        = link_to message.title, message
        %br
        = link_to message.topic.name
        = h message.created_at

