.span-12
  = "Name: "
  = h @topic.name
.span-12.last
  -# unless @topic.parent_id.nil?
    = "Parent: "
    = h @topic.parent_topic.name
.span-24
  = "Description: "
  = h @topic.description
%hr

.span-18
  = full_topic_path(@topic)
.span-6.last
  = link_to 'Edit', edit_topic_path(@topic) |
  = link_to 'Back', topics_path
  = link_to 'Post', :action => 'post', :id => @topic

%table
  %tr
    %th Title
    %th Post
    %th Last post
    %th Replies
    %th Views
  - for message in @messages
    %tr
      %td
        = link_to message.title, message
      %td
        = h message.created_at
        %br
        = link_to message.user.login, message.user
      - reply_messages = message.follow_messages.find( :all, :order => 'created_at DESC' )
      %td
        - unless reply_messages.count == 0
          = reply_messages[0].created_at
          %br
          = 'by '
          = link_to reply_messages[0].user.login, reply_messages[0].user
        - else
          = message.updated_at
          %br
          = 'by '
          = link_to message.user.login, user_path(message.user)
        %td
          = message.follow_messages.count
        %td
          = message.view_count
      -#
        %td
          = link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete

= will_paginate @messages
