#article_content
  - if @articles.count == 0
    #article_title Welcome to my blog
    #article_body Wish you have a happy tour in my site
  - for article in @articles
    #article_title
      = article.title
    #article_time
      = t 'blog.posted_at'
      = distance_before_now(article.created_at)
    #article_body
      = article.body
      = link_to t('blog.more'), user_article_url(@user,article)
    #status
      = t 'blog.comment_count'
      = article.follow_messages.count
