#article_content
  - if @articles.count == 0
    #article_title
      = t 'blog.welcome_title'
    #article_body
      = t 'blog.welcome_body'
  - for article in @articles
    #article
      #article_title
        = article.title
      #article_time
        = t 'blog.posted_at'
        = distance_before_now(article.created_at)
      #article_body
        = h strip_tags(textilize(article.body))
        = link_to t('blog.more'), user_article_url(@user,article)
      #status
        = t 'blog.comment_count'
        = article.follow_messages.count
    %hr
