= form.label t('site.login_name')
%br
= form.text_field :login
%br

= form.label t('account.gender')
%br
= form.select :gender, { t('account.male') => "M", t('account.female') => "F" }
%br

= form.label t('account.birthday')
%br
= form.date_select :birthday, :start_year => Time.now.year - 50
%br

= form.label t('site.password'), form.object.new_record? ? nil : t('site.change_password')
%br
= form.password_field :password
%br


= form.label t('site.password_confirmation')
%br
= form.password_field :password_confirmation
%br

= form.label t('page.email')
%br
= form.text_field :email
%br

= form.label t('page.avatar')
%br
= form.file_field :avatar
%br

- # Bugs Bugs!
= #form.label :role
- #%br
= #select_tag 'roles[]', options_from_collection_for_select(Role.find(:all), :id, :name)#, {:include_blank => true}
- #%br
