%table
  - for friend in @user.friends
    %tr
      %td
        = check_box_tag "friend_users[]", friend.id
      %td
        = link_to friend.login, user_path(friend)
      %td
        = link_to "Send Message"
      %td
        = link_to "Delete"
      %td
        = link_to "Block"
  
      
