%table
  - for msg in @user.unread_messages
    %tr
      %td
        = check_box_tag "messages[]", msg.id
      %td
        %b
          = link_to h(msg.user.login), user_path(msg.user)
      %td
        %b
          = link_to msg.title, message_path(msg)#:controller => "message", :action => "show", :id => msg
      %td
        %b
          = h msg.created_at
      %td
        %b
          = link_to "Mark as read", :controller => "messages", :action => "mark_read", :id => msg
      %td
        %b
          = link_to "Reply", :controller => "messages", :action => "reply", :id => msg
  - for msg in @user.read_messages
    %tr
      %td
        = check_box_tag "messages[]", msg.id
      %td
        = link_to h(msg.user.login), user_path(msg.user)
      %td
        = link_to msg.title, message_path(msg)#:controller => "message", :action => "show", :id => msg
      %td
        = h msg.created_at
      %td
        = link_to "Reply", :controller => "messages", :action => "reply", :id => msg

