%table
  - if @user.strangers.count > 0
    %thead
      %tr
        %th{:width=>'3%'}
        %th{:width=>'15%'}
          = t 'site.login_name'
        %th
          = t 'global.content'
  %tfoot
  %tbody
  - for req in @user.strangers
    %tr
      %td
        = check_box_tag "request_users[]", req.id
      %td
        = link_to req.login, user_path(req)
      - msg = @user.request_messages.find_by_user_id(req.id)
      - unless msg.nil?
        %td
          = msg.title
        %td
          = msg.body

#refuse_list
  %table
    - for rfs in @user.refused_users
      %tr
        %td
          = check_box_tag "refused_users[]", rfs.id
        %td
          = link_to rfs.login, user_path(rfs)
        - msg = @user.refused_messages.find_by_user_id(rfs.id)
        - unless msg.nil?
          %td
            = msg.title
          %td
            = msg.body

