%table
  %thead
    %tr
      %th{:width=>'10%'}
      %th{:width=>'50%'}
        = t 'global.title'
      %th{:width=>'20%'}
        = t 'manage.receiver'
      %th{:width=>'20%'}
        = t 'manage.send_time'
  %tfoot
  %tbody
    - for msg in @sent_messages
      %tr
        %td
          = check_box_tag "messages[]", msg.id
        %td
          = link_to msg.title, message_path(msg)
        %td
          - targets = msg.receivers
          - targets.each do |t|
            = link_to t.login, user_path(t)
            = ' '
        %td
          = msg.created_at

= will_paginate @sent_messages
