- content_for :panel do
  = tabnav :panel
%h3
  = t 'account.edit_account'

- form_for @user, :url => {:action => 'update', :id => @user.id}, :html => { :multipart => true } do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  %br
  = f.submit t('site.update')
%br

= link_to t('global.back'), :back
