-form_for @user, :url => {:action => "friend_modify"}, :method => :put do |f|
  = submit_tag "Delete", :name => "delete"
  = submit_tag "Accept", :name => "accept"
  = submit_tag "Refuse", :name => "refuse"
  = submit_tag "Block", :name => "block"

  #request_list
    = render :partial => 'request_list'

    
  #friend_list
    = render :partial => 'friend_list'
