- content_for :panel do
  = tabnav :panel

.span-24
  .prepend-20
    = link_to "New Gallary", new_user_gallary_path(current_user)
.span-24
  %h3 
    = "Total Gallaries: "
    = @gallaries.count
  - for gallary in @gallaries
    .span-18
      = link_to h(gallary.name), user_gallary_path(current_user, gallary)
      %br
      = h(gallary.updated_at)
      %br
      = h(gallary.attachments_count)
    .span-6.last
      = link_to 'Edit', edit_user_gallary_path(current_user, gallary)
      = link_to 'Delete', user_gallary_path(current_user,gallary), :confirm => 'Are you sure?', :method => :delete

  = will_paginate @gallaries
