- content_for :panel do
  = tabnav :panel

= link_to t('manage.trash'), :action => "trash"

-form_for @user, :url => {:action => "message_modify"}, :method => :put do |f|
  = submit_tag t('global.delete'), :name => "mark_delete"
  = submit_tag t('manage.mark_read'), :name => "mark_read"
  = submit_tag t('manage.delete_forever'), :name => "forever_delete"
  = submit_tag t('manage.move_to_inbox'), :name => "move"
  %h4
    = t 'manage.message_list'
  #message_list
    = render :partial => 'message_list'

  %h4 Sended Messages
  #send_message_list
    = render :partial => 'send_message_list'

    /= render :active_scaffold => 'messages', :constraints => {:user_id => @user.id, :message_type => 'message'}, :label => ''
