- content_for :panel do
  = tabnav :panel

= link_to "Trash", :action => "trash"

-form_for @user, :url => {:action => "message_modify"}, :method => :put do |f|
  = submit_tag "Delete", :name => "mark_delete"
  = submit_tag "Mark as read", :name => "mark_read"
  = submit_tag "Delete forever", :name => "forever_delete"
  = submit_tag "Move to inbox", :name => "move"
  %h4 Message list
  #message_list
    = render :partial => 'message_list'#, :object => @user

-#
  %h4 Sended Messages
  #send_message_list
    %table
      %tr
        %th{:width=>'%1'}
        %th{:width=>'%20'} Title
        %th{:width=>'%30'} Content
        %th{:width=>'%20'} Target
        %th{:width=>'%20'} Time
      - for msg in @user.sent_messages
        %tr
          %td
            = check_box_tag "messages[]", msg.id
          %td
            = link_to msg.title, message_path(msg)
          %td
            = h msg.body
          %td
            - targets = msg.receivers
            - targets.each do |t|
              = link_to t.login, user_path(t)
              = ' '
          %td
            = msg.created_at

  -#
    = render :active_scaffold => 'messages', :constraints => {:user_id => @user.id, :message_type => 'sms'}, :label => ''
