#news_list.span-24
  %h4 News
  - if @news.size == 0
    = "No recently news..."
  - for n in @news
    = link_to n.title, message_path(n)
    = n.body
%hr

#topic_list.span-11.colborder
  %h2 
    = link_to 'Topic', :controller => 'topics'
    = "News"
  .box
    - if @topic_news.size == 0
      = "No recently topic news..."
    - for t in @topic_news
      = link_to t.user.login, user_path(t.user)
      = "says: "
      = link_to excerpt(t.title, t.title[0,18], :radius => 2), message_path(t), :title => t.title
      = " in "
      - topic = Topic.find_by_id(t.topic_id)
      = link_to topic.name, topic_path(topic)
      %br

#blog_list.span-12.last
  %h2 
    = link_to 'Blog', :controller => 'blog'
    = "News"
  .box
    - if @blog_news.size == 0
      = "No recently blog news..."
    - for b in @blog_news
      = link_to b.title, message_path(b)
      = user_info(b.user)
      %br
