.span-24
  %h3 Attachments
  - i = 0 
  - for attach in @attachments
    - i += 1
    - if (i%3-1) == 0
      .span-24
    - if i%3!=0
      .span-8
        = "posted at "
        = h attach.object_updated_at
        =# link_to image_tag(attach.object.url(:medium)), attachment_path(attach)
        = lightbox_image_tag attach.object.url(:medium), attach.object.url, {:class => 'images'}, :title => attach.object_file_name
        = h attach.object_file_name
        = h attach.object_content_type
        %br
        - if @permit
          = link_to 'Delete', :controller=>'attachment', :action=>'delete', :id => attach, :method => :delete
    - else
      - i = 0
      .span-8.last
        = "posted at "
        = h attach.object_updated_at
        = lightbox_image_tag attach.object.url(:medium), attach.object.url, {:class => 'images'}, :title => attach.object_file_name
        = h attach.object_file_name
        = h attach.object_content_type
        %br
        - if @permit
          = link_to 'Delete', :controller=>'attachment', :action=>'delete', :id => attach, :method => :delete

  = will_paginate @attachments
