- if @gallaries.count == 0
  No public gallaries in our library
- for gallary in @gallaries
  %p
    = image_tag gallary.attachments[0].object.url(:thumb) if gallary.attachments.count > 0
    = link_to h(gallary.user.login), :action => 'view', :id => gallary.user
    - unless gallary.user == current_user || gallary.password.nil? || gallary.password.length <= 0
      = link_to_function h(gallary.name), "passBox.show_box(#{gallary.id})", :rel=>'pass_box'
    - else
      = link_to h(gallary.name), gallary_path(gallary)
    - unless gallary.password.nil?
      %br
      = "Password needed"
    - if gallary.isfriend == true
      %br
      = "Only Friend View"
    = h gallary.attachments_count
    = h gallary.category

#passbox{:style => "display:none"}
  - form_tag :action=>"check_pass" do 
    = "Password: "
    = text_field "gallary", "password"
    


