- if @gallaries.count == 0
  No public gallaries in our liabry
- for gallary in @gallaries
  %p
    = image_tag gallary.attachments[0].object.url(:thumb) if gallary.attachments.count > 0
    = link_to h(gallary.user.login), :action => 'view', :id => gallary.user
    = link_to h(gallary.name), gallary_path(gallary)
    = "Password needed" unless gallary.password.nil?
    = h gallary.attachments_count
    = h gallary.category
    = link_to_function "View", "show_box(#{gallary.id})", :rel=>'pass_box'

#gallary_password{:style => "display:none"}
  - form_remote_tag :html => {:action => url_for(:controller=>'gallary', :action=>'check_pass') } do 
    = hidden_field "gallary", "id"
    = "Password: "
    = text_field "gallary", "password"
    %br
    = submit_tag "Post"
    = button_to_function "Close", "passBox.hide_box()"
    


