.span-18
  %p
    %b Name:
    = h @gallary.name
    %b Owner:
    = link_to h(@gallary.user.login), user_path(@gallary.user)
.span-6.last
  - if @permit
    = link_to 'Edit', edit_gallary_path
    = link_to 'Back', "/user/gallary" #user_gallary_path(current_user, @gallary)
    = link_to 'Add Image', new_user_gallary_attachment_path(current_user, @gallary)

.span-24
  .box
    %b Attachments count:
    = h @gallary.attachments_count
    %br
    %b Public to all:
    = h @gallary.ispublic
    %br
    %b Public to friend:
    = h @gallary.isfriend
    %br
    %b Category:
    = h @gallary.category

= render :partial => 'attachment_list'#, :object => @attachments
