.span-18
  %p
    %b
      = t 'gallary.name'
    = h @gallary.name
    %b
      = t 'gallary.owner'
    = link_to h(@gallary.user.login), user_path(@gallary.user)
.span-6.last
  - if @permit
    = link_to t('global.edit'), edit_gallary_path
    = link_to t('global.back'), :back #"/user/gallary" #user_gallary_path(current_user, @gallary)
    = link_to t('gallary.add_image'), new_user_gallary_attachment_path(current_user, @gallary)

.span-24
  .box
    %b
      = t 'gallary.attachment_count'
    = h @gallary.attachments_count
    %br
    %b
      = t 'gallary.public'
    = h @gallary.ispublic
    %br
    %b
      = t 'gallary.friend_view'
    = h @gallary.isfriend
    %br
    %b
      = t 'gallary.category'
    = h @gallary.category

= render :partial => 'attachment_list'#, :object => @attachments
