%h2 
  = link_to @user.login, user_path(@user)
  = "'s gallaries"

%hr

- for gallary in @gallaries
  %p
    = image_tag gallary.attachments[0].object.url :thumb if gallary.attachments.count > 0
    = #link_to h(gallary.name), gallary_path(gallary)
    = link_to_function h(gallary.name), "passBox.show_box(#{gallary.id})", :rel=>'pass_box'
    = h gallary.updated_at
    = h gallary.attachments_count

#passbox{:style => "display:none"}
  - form_tag :action=>"check_pass" do 
    = "Password: "
    = text_field "gallary", "password"
