%h2 
  = t 'blog.new_post'

- form_for :message, @article, :url => {:controller=>'messages', :action=>'create'} do |f|
  = f.error_messages

  %p
    = f.label t('blog.title')
    %br
    = f.text_field :title

  %p
    = f.label t('blog.content')
    %br
    = #f.text_area :body
    = textile_editor 'message', 'body'
    = textile_editor_initialize

  - unless session[:target_message_id].nil?
    %p
      = f.label :follow
      %br
      = Message.find_by_id(session[:target_message_id]).title

  %p
    = f.submit t('global.create')

= link_to t('global.back'), :back
