!!! XML
!!!
%html
  %head
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = javascript_include_tag :defaults
    = active_scaffold_includes
    %title ToPicTure
  %body
    - @user = User.find_by_id session[:target_user_id]
    .container
      .span-12
        = link_to 'Site', "/"
        = link_to 'Blog', "/user/#{@user.login}"
      .span-12.last
        = navigation :status
      .span-24
        .prepend-20
          = link_to "message", :controller => 'users', :action => 'send_message'#new_message_url#:controller => "messages", :action => "new"
          = link_to "Add as friend", :controller => "users", :action => "invite", :id => @user
      .span-24
        %h1 
          = link_to @user.login, "/user/#{@user.login}"
        = yield
